
{% load static %}
<!-- Footer -->
{% comment %} <footer class="footer bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <!-- Copyright -->
            <div class="col-md-4 text-center text-md-start mb-3 mb-md-0">
                <p class="mb-0">&copy; 2024 Donation and Volunteer System</p>
            </div>
            <!-- Social Media -->
            <div class="col-md-4 text-center mb-3 mb-md-0">
                <a class="btn btn-outline-light btn-sm mx-2" href="#!" aria-label="Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="btn btn-outline-light btn-sm mx-2" href="#!" aria-label="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="btn btn-outline-light btn-sm mx-2" href="#!" aria-label="LinkedIn">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
            <!-- Links -->
            <div class="col-md-4 text-center text-md-end">
                <a class="text-white text-decoration-none me-3" href="#!" aria-label="Privacy Policy">Privacy Policy</a>
                <a class="text-white text-decoration-none" href="#!" aria-label="Terms of Use">Terms of Use</a>
            </div>
        </div>
    </div>
</footer> {% endcomment %}

<footer class="footer bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <!-- About Us -->
            <div class="col-md-4 mb-4">
                <h5>About Us</h5>
                <p class="small">
                    Our platform connects donors with volunteers to support communities in need. We accept donations like food, clothes, books, and more. Join us in making a difference!
                </p>
            </div>
            <!-- Useful Links -->
            <div class="col-md-2 mb-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white text-decoration-none">Home</a></li>
                    <li><a href="{% url 'login_donor' %}" class="text-white text-decoration-none">Donate</a></li>
                    <li><a href="{% url 'login_volunteer' %}" class="text-white text-decoration-none">Volunteer</a></li>
                    <li><a href="#contact" class="text-white text-decoration-none">Contact Us</a></li>
                    <li><a href="#!" class="text-white text-decoration-none">FAQ</a></li>
                </ul>
            </div>
            <!-- Contact Information -->
            <div class="col-md-3 mb-4">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-map-marker-alt"></i> 123 ABC Street, Thane, Mumbai</li>
                    <li><i class="fas fa-phone"></i> +91 8963258417</li>
                    <li><i class="fas fa-envelope"></i> support@donatevolunteer.com</li>
                </ul>
            </div>
            <!-- Social Media -->
            <div class="col-md-3 text-center text-md-end">
                <h5>Follow Us</h5>
                <a class="btn btn-outline-light btn-sm mx-1" href="#!" aria-label="Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="btn btn-outline-light btn-sm mx-1" href="#!" aria-label="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="btn btn-outline-light btn-sm mx-1" href="#!" aria-label="LinkedIn">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="btn btn-outline-light btn-sm mx-1" href="#!" aria-label="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <hr class="bg-light">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                <p class="mb-0">&copy; 2024 Donation and Volunteer System. All Rights Reserved.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <a class="text-white text-decoration-none me-3" href="#!" aria-label="Privacy Policy">Privacy Policy</a>
                <a class="text-white text-decoration-none" href="#!" aria-label="Terms of Use">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script src="{% static 'js/myscript.js' %}"></script>

<script type="text/javascript">
    {% comment %} $(document).ready(function() {
        $('#mytable').DataTable();
    } ); {% endcomment %}
</script>
</body>
</html>
