
{% load static %}
<!-- Footer -->
<footer class="footer bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <!-- Copyright -->
            <div class="col-md-4 text-center text-md-start mb-3 mb-md-0">
                <p class="mb-0">&copy; 2024 Donation and Volunteer System</p>
            </div>
            <!-- Social Media -->
            <div class="col-md-4 text-center mb-3 mb-md-0">
                <a class="btn btn-outline-light btn-sm mx-2" href="#!" aria-label="Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="btn btn-outline-light btn-sm mx-2" href="#!" aria-label="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="btn btn-outline-light btn-sm mx-2" href="#!" aria-label="LinkedIn">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
            <!-- Links -->
            <div class="col-md-4 text-center text-md-end">
                <a class="text-white text-decoration-none me-3" href="#!" aria-label="Privacy Policy">Privacy Policy</a>
                <a class="text-white text-decoration-none" href="#!" aria-label="Terms of Use">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script src="{% static 'js/myscript.js' %}"></script>

<script type="text/javascript">
    {% comment %} $(document).ready(function() {
        $('#mytable').DataTable();
    } ); {% endcomment %}
</script>
</body>
</html>
